/****header****/
#header_wrap #header_box #header_box_area #header_login {
    position: absolute;
    width: 100%;
    max-width: 200px;
}
/****menu****/
.menu_btn_wrap {
    position: relative;
    display: grid;
    grid-template-columns: max-content min-content;
}

#menu_intro_btn,
#menu_place_btn {
    position: relative;
}
#add_intro,
#add_place {
    font-size: 2rem;
    font-weight: bolder;
    position: relative;
}
/****main****/
/****footer****/


