/****header****/

#header_wrap #header_box #header_box_area #header_login {
    position: absolute;
    width: 100%;
    max-width: 200px;
    padding-left: 5px;
    left: 3%;
}

/* #header_wrap #header_box #header_box_area #header_ad_title {
    margin: 0 auto;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
}

#header_wrap #header_box #header_box_area #header_ad_title a .header_logo {
    height: 55px;
}

#header_wrap #header_box #header_box_area #header_ad_title h1 {
    background-color: rgb(180, 180, 180);
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.4);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
} */

#header_wrap #header_box #header_box_area .admin_header_lang {
    position: relative;
    top: -40px;
    left: -50px;
}


/****menu****/

.menu_btn_wrap {
    position: relative;
    display: grid;
    grid-template-columns: max-content min-content;
}

#menu_wrap #menu_box #menu_list .menu_list_item .menu_btn_wrap>div>a>h2,
#menu_wrap #menu_box #menu_list .menu_list_item .menu_btn_wrap>div.menu_add>a {
    font-size: 2.3rem;
    /* color: rgba(0, 0, 0, 0.5); */
    color: rgba(230,30,40, 0.5);
}

#menu_intro_btn,
#menu_place_btn {
    position: relative;
}

#add_intro,
#add_place {
    font-size: 2rem;
    font-weight: bolder;
    position: relative;
}

#menu_wrap #menu_box #menu_box_area .menu_lang {
    width: 100%;
    max-width: 700px;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
    position: fixed;
    bottom: 80px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    visibility: hidden;
}


/****main****/

#login_wrap {
    margin-top: 140px;
}

#create_wrap {
    position: absolute;
    width: 100%;
    /* max-width: 700px; */
    margin: 0 auto;
    padding-top: 70px;
}

#create_wrap .admin_editor .memo_editor {
    min-width: 80%;
    max-width: 90%;
    min-height: 150px;
}

section .view_wrap {
    width: 100%;
    max-width: 596px;
    margin: 80px auto;
}

section .view_wrap .contEditor center>h3 {
    margin: 40px;
}

section #userList_wrap {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 140px;
    display: block;
}

section #userList_wrap .user_table {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

#create_map_wrap #create_map {
    width: 100%;
    max-width: 596px;
    height: 80vh;
    max-height: 450px;
}

#create_image_wrap,
#create_work_wrap,
#create_ref_wrap {
    margin: 40px auto;
    border: 10px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#create_image_wrap #img_attach,
#create_work_wrap #work_attach,
#create_ref_wrap #ref_attach {
    width: 150px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: rgb(95, 160, 104);
    text-align: center;
    padding-top: 4px;
    box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#create_image_wrap #img_attach:hover,
#create_work_wrap #work_attach:hover,
#create_ref_wrap #ref_attach:hover {
    width: 155px;
    height: 35px;
    padding-top: 6px;
    margin-bottom: 5px;
}

.attach_box {
    padding-left: 5px;
}

.submit_box {
    width: 100%;
    max-width: 596px;
    margin: 40px auto;
    text-align: center;
}

.coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}


/****detail****/

#admin_detail_func_wrap,
#admin_intro_func_wrap,
#attached_func_wrap {
    display: grid;
    /* grid-template-columns: 45% 10% 45%; */
    /* grid-template-columns: calc((100% - 100px)/2) 100px calc((100% - 100px)/2); */
    grid-template-columns: 100px 100px 100px;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    text-align: center;
}

#admin_detail_func_wrap .back_btn img,
#admin_detail_func_wrap .modify_btn img,
#admin_detail_func_wrap .delete_btn img,
#intro_cont_wrap #intro_cont .delete_btn img,
#intro_cont_wrap #intro_cont .modify_btn img {
    width: 60px;
    padding: 10px;
    cursor: pointer;
}

#attached_func_wrap .delete_btn img,
#attached_func_wrap .top_btn img,
#attached_func_wrap .modify_btn img {
    width: 40px;
    padding: 10px;
    cursor: pointer;
}

#intro_cont_wrap #intro_cont .delete_btn,
#intro_cont_wrap #intro_cont .modify_btn {
    width: 80px;
}

#attached_func_wrap .delete_btn,
#attached_func_wrap .top_btn,
#attached_func_wrap .modify_btn {
    width: 60px;
    margin: 0 auto;
}

#attached_func_wrap .delete_btn {
    background-image: url("../img/delete_btn.png");
}

#attached_func_wrap .top_btn {
    background-image: url("../img/top_btn.png");
}

#attached_func_wrap .modify_btn {
    background-image: url("../img/modify_btn.png");
}

.menu_add {
    font-size: 2rem;
    font-weight: 900;
    display: inline;
}


/****footer****/