/****header****/

#header_wrap #header_box #header_box_area #header_login {
    position: absolute;
    width: 100%;
    max-width: 200px;
    padding-left: 5px;
}

#header_wrap #header_box #header_box_area #header_ad_title {
    margin: 0 auto;
    /* width: 476px; */
    /* padding-top: 7px; */
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
}

#header_wrap #header_box #header_box_area #header_ad_title a .header_logo {
    height: 55px;
}

#header_wrap #header_box #header_box_area #header_ad_title h1 {
    background-color: rgb(180, 180, 180);
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.4);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

#header_wrap #header_box #header_box_area .admin_header_lang {
    position: relative;
    top: -40px;
    left: -50px;
}


/****menu****/

.menu_btn_wrap {
    position: relative;
    display: grid;
    grid-template-columns: max-content min-content;
}

#menu_wrap #menu_box #menu_list .menu_list_item .menu_btn_wrap>div>a>h2,
#menu_wrap #menu_box #menu_list .menu_list_item .menu_btn_wrap>div.menu_add>a {
    font-size: 2.3rem;
    color: rgba(0, 0, 0, 0.5);
}

#menu_intro_btn,
#menu_place_btn {
    position: relative;
}

#add_intro,
#add_place {
    font-size: 2rem;
    font-weight: bolder;
    position: relative;
}

#menu_wrap #menu_box #menu_box_area .menu_lang {
    width: 100%;
    max-width: 700px;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
    position: fixed;
    bottom: 80px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    visibility: hidden;
}


/****main****/

section .view_wrap {
    width: 100%;
    max-width: 596px;
    margin: 80px auto;
}

section .view_wrap .contEditor center>h3 {
    margin: 40px;
}

section .userList_wrap {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 40px;
}

#create_img_wrap #attached_img_table img {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

/****footer****/