@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}


/* @font-face {
    font-family: "경기천년제목";
    src: url('../../fonts/Title_Light.otf'), url('../../fonts/경기천년바탕_Regular.ttf');
}

@font-face {
    font-family: "경기천년바탕";
    src: url('../../fonts/Batang_Regular.otf'), url('../../fonts/Batang_Regular.eot'), url('../../fonts/Batang_Regular.woff'), url('../../fonts/경기천년바탕_Regular.ttf');
}

@font-face {
    font-family: 'GyeonggiBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "경기천년볼드";
    src: url('../../fonts/Batang_Bold.otf'), url('../../fonts/Batang_Bold.eot'), url('../../fonts/Batang_Bold.woff'), url('../../fonts/경기천년바탕_Bold.ttf');
} */

@font-face {
    font-family: "또박또박";
    src: url('../../fonts/NanumDdoBagDdoBag.woff'), url('../../fonts/NanumDdoBagDdoBag.eot'), url('../../fonts/NanumDdoBagDdoBag.ttf');
}


/* .gg-bold {
    font-family: "경기천년볼드", serif;
}

.gg-title {
    font-family: "또박또박", sans-serif;
}

.gg-batang {
    font-family: "GyeonggiBatang", sans-serif;
} */

.gg-bold {
    font-family: "또박또박", serif;
}

.gg-title {
    font-family: "또박또박", sans-serif;
}

.ddobag {
    font-family: "또박또박", "경기천년바탕", sans-serif;
}


body {
    width: 100%;
    position: relative;
    /* font-size: 1rem; */
    font-family: '또박또박', '경기천년바탕', 'Noto Serif SC', 'Noto Serif TC', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(240, 240, 240);
    margin: 0;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

[onclick] {
    cursor: pointer;
}

.tooling {
    background-color: rgb(180, 180, 180);
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.4);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.en {
    display: none;
}