/****header****/


header {
 height: 80px;   
}

#header_wrap {
    width: 100%;
    height: 80px;
    /* display: none; */
    z-index: 100;
    position: fixed;
    top: 0;
    /* position: -webkit-sticky;
    position: sticky;
    top: 0; */
}

#header_wrap #header_box {
    /* background-color: rgb(240, 240, 240); */
    /* background-color: rgba(200, 0, 20, 0.03); */
    /* background-color: rgb(255, 245, 245); */
    background: url('https://cdd-ddc.org/static/img/index_bg_space_900.png') repeat;
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* -moz-box-shadow:    inset 0 -8px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 -8px 10px -10px rgba(0, 0, 0, 0.5);
    box-shadow:         inset 0 -8px 10px -10px rgba(0, 0, 0, 0.5);
    padding-bottom: 8px;
    border-image-source: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(240, 240, 240, 0)); */
    z-index: 100;
    /*형압 보더*/
    /* border-bottom: 20px solid;
    border-image-source: linear-gradient(180deg, rgba(240, 240, 240, 0) 0%, rgba(240, 240, 240, 0) 99%, rgba(0, 0, 0, 0.01) 98.5%, rgb(255,255,255) 99.3%, rgba(0,0,0, 0.08) 99.9%, rgba(0,0,0, 0) 100%);
    border-image-slice: 1; */


    /* border-bottom: 10px solid;
    -webkit-border-image: url(../img/intaglio_line.png);
    -moz-border-image: url(../img/intaglio_line.png);
    border-image: url(../img/intaglio_line.png);
    border-image-slice: 30; */

    /* border-bottom: 2px solid rgba(160, 30, 50, 0.5); */
    box-shadow: 0 4px 8px 0 rgba(160, 30, 50, 0.2);
}


/* #header_wrap #header_box:before {
    content: "";
    position: absolute;
    top: 70px;
    width: 100%;
    margin: 0 auto;
    height: 100px;
    background: linear-gradient(180deg,rgba(240,240,240,1) 0%,rgba(240, 240, 240, 0) 60%);
    z-index: -1;
    pointer-events: none;
    transition: 0.2s opacity;
} */

#header_wrap #header_box #header_box_area {
    width: 100%;
    max-width: 768px;
    height: 80px;
    margin: 0 auto;
    padding-top: 15px;
    z-index: 100;
}

#header_wrap #header_box #header_box_area #header_title {
    width: 100%;
    max-width: 260px;
    margin: 0 auto;
    /* padding-top: 7px; */
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
}

#header_wrap #header_box #header_box_area #header_title a .header_logo {
    height: 55px;
}

#header_wrap #header_box #header_box_area #header_title h1 {
    background-color: rgb(180, 180, 180);
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.4);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

#header_wrap #header_box #header_box_area #header_btn {
    width: 60px;
    margin: auto 0;
    top: 0;
    left: 85%;
    position: absolute;
    filter: opacity(0.7);
}


#header_wrap #header_box #header_box_area #header_btn a #menu_btn{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    padding: 8px;
    margin-top: 4px;
    transition: 300ms;
}

#header_wrap #header_box #header_box_area #header_btn a #menu_btn img {
    width: 100%;
    /* width: 20px; */
    /* top: 15px; */
    /* top: 15px; */
    position: relative;
    /* border-radius: 15px; */
    padding: 5px;
    transition: 300ms;
}
#header_wrap #header_box #header_box_area #header_btn a #menu_btn:hover {
    background-color: rgba(160, 30, 50, 0.2);
}

#header_wrap #header_box #header_box_area #header_btn a #menu_btn .menu_o {
    font-size: 4.5rem;
    position: absolute;
    background-color: rgb(180, 180, 180);
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.4);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

#header_wrap #header_box #header_box_area #header_btn a #menu_btn .menu_m {
    font-size: 3rem;
    position: relative;
    background-color: rgb(180, 180, 180);
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.4);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    top: 13px;
    left: 11px;
}

#header_wrap .header_lang {
    padding-top: 10px;
    padding-left: 5px;
    cursor: pointer;
    position: absolute;
    top: 0;
    color: rgba(0, 0, 0, 0.5);
    /* font-size: 1.5rem; */
    font-size: 1rem;
}


/****menu****/

#menu_wrap * {
    z-index: 99;
}

@keyframes expand {
    from {
      transform: scale(0);
      opacity: 0;
      /* background: black; */
    }
  }

  @keyframes slide_down {
    0% {
        top: -100%;
    }
    100% {
        top: 0px;
    }
    /* from {
        top: -100%;
    } */
}

@keyframes slide_up {
    0% {
        top: 100vh;
    }
    100% {
        top: 0px;
    }
}

#menu_wrap {
    width: 100%;
    height: 100%;
    /* height: 0px; */
    /* min-height: calc(100vh - 70px); */
    z-index: 99;
    /* background-color: rgb(240, 240, 240); */
    /* background-color: rgb(255, 245, 245); */
    position: absolute;
    /* position: relative; */
    /* top: 70px; */
    top: 0;
    left: 0;
    /* margin-top: 140px; */
    /* padding-top: 140px; */
    padding-top: 70px;

    /* display: none; */

    transition: all 0.5s ease 0s;
    animation: 0.5s ease-in-out 0s 1 normal none running slide_down;
    /* animation: slide_down 300ms ease; */

    /* -webkit-transition: 300ms;
       -moz-transition: 300ms;
        -ms-transition: 300ms;
         -o-transition: 300ms;
            transition: 300ms;
    animation: slide_up 300ms; */


}

#menu_wrap #menu_box {
    width: 100%;
    /* max-width: 768px; */
    min-height: calc(100vh - 100px);
    margin: 0 auto;
    /* position: relative; */
    /* top: 140px; */
    padding: 15px 20%;
    /* font-size: 1.8rem; */
    /* background-color: rgb(255, 245, 245); */
    background: url('https://cdd-ddc.org/static/img/index_bg_space_900.png') repeat;
    font-size: 1.3rem;
}

#menu_wrap #menu_box #menu_list .menu_list_item {
    padding-bottom: 15px;
    margin-bottom: 15px;
    /* color: rgba(0, 0, 0, 0.6); */
    /* border-bottom: 20px solid;
    border-image-source: linear-gradient(180deg, rgba(240, 240, 240, 0) 0%, rgba(240, 240, 240, 0) 99%, rgba(0, 0, 0, 0.01) 98.5%, rgb(255,255,255) 99.3%, rgba(0,0,0, 0.08) 99.9%, rgba(0,0,0, 0) 100%);
    border-image-slice: 1; */
    /* border-bottom: 10px solid;
    -webkit-border-image: url(../img/intaglio_line.png);
    -moz-border-image: url(../img/intaglio_line.png);
    border-image: url(../img/intaglio_line.png);
    border-image-slice: 30; */
}

#menu_wrap #menu_box #menu_list .menu_list_item>a>h2 {
    /* font-size: 2.3rem; */
    font-size: 2rem;
    /* color: rgba(0, 0, 0, 0.5); */
    color: rgb(230,30,40);
}


/* #menu_wrap #menu_box #menu_list .menu_list_item:before {
    content: "";
    position: absolute;
    top: 70px;
    width: 100%;
    margin: 0 auto;
    height: 30px;

    background: linear-gradient(180deg,rgba(255,255,255,1) 0%,rgba(240,240,240,1) 60%);
    z-index: -1;
    pointer-events: none;
    transition: .2s opacity;
} */

#menu_wrap #menu_box #menu_list .menu_list_item a h2 {
    margin: 5px;
}


/*menu_intro*/


/* #intro_cont_wrap {
    display: none;
} */

#intro_cont_wrap #intro_cont {
    text-indent: 1rem;
    color: #555;
}

#intro_cont_wrap #intro_cont img {
    max-width: 90% !important;
    /* max-width: calc(100% - 1rem) !important; */
}


/*menu_place*/


/* #place_cont_wrap {
    display: none;
} */

#place_list_wrap #place_list {
    /* text-indent: 1rem; */
    color: #555;
    position: relative;
    transition: all 0.5s ease 0s;
    animation: 0.5s ease-in-out 0s 1 normal none running slide_up;
}

#place_list_wrap #place_list #place_ul {
    width: 100%;
    height: auto;
    /* overflow: hidden; */
    /* position: relative; */
}

#place_list_wrap #place_list #place_ul .place_li {
    margin: 5px;
    cursor: pointer;
}

#place_list_wrap #place_list #place_ul .place_title:hover {
    color: rgba(160, 30, 50, 0.6);
    font-weight: 900;
    text-decoration: underline;
}