/*header*/
#header_wrap {
    width: 100%;
    height: 80px;
    display: none;
    z-index: 100;
}
#header_wrap #header_box {
    background-color: rgb(240, 240, 240);
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    -moz-box-shadow:    inset 0 -8px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 -8px 10px -10px rgba(0, 0, 0, 0.5);
    box-shadow:         inset 0 -8px 10px -10px rgba(0, 0, 0, 0.5);
    padding-bottom: 8px;
    border-image-source: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(240, 240, 240, 0));
    z-index: 100;
    
}

#header_wrap #header_box:before {
    content: "";
    position: absolute;
    top: 70px;
    width: 100%;
    margin: 0 auto;
    height: 30px;
    background: linear-gradient(180deg,rgba(0,0,0,0.2) 0%,rgba(240, 240, 240, 0) 60%);
    z-index: -1;
    pointer-events: none;
    transition: 0.2s opacity;
}

#header_wrap #header_box #header_box_area {
    width: 100%;
    max-width: 768px;
    height: 80px;
    margin: 0 auto;
    padding-top: 15px;
    z-index: 100;
}
#header_wrap #header_box #header_box_area #header_title {
    margin: 0 auto;
    width: 476px;
    padding-top: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
}

#header_wrap #header_box #header_box_area #header_title h1{
    background-color: rgb(180, 180, 180);
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.6);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}


#header_wrap #header_box #header_box_area #header_btn{
    width: 60px;
    margin: auto 0;
    top: -50px;
    left: 700px;
    position: relative;
}
/* #header_wrap #header_box #header_box_area #header_btn a #menu_btn{
    width: 60px;
    margin: auto 0;
    top: -50px;
    left: 700px;
    position: relative;
} */

#header_wrap #header_box #header_box_area #header_btn a #menu_btn img{
    width: 50px;
    top: 10px;
    position: relative;
}
#header_wrap #header_box #header_box_area #header_btn a #menu_btn .menu_o{
    font-size: 4.5rem;
    position: absolute;
    background-color: rgb(180, 180, 180);
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.6);
        -webkit-background-clip: text;
            -moz-background-clip: text;
    background-clip: text;
}
#header_wrap #header_box #header_box_area #header_btn a #menu_btn .menu_m{
    font-size: 3rem;
    position: relative;
    background-color: rgb(180, 180, 180);
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.6);
    -webkit-background-clip: text;
        -moz-background-clip: text;
            background-clip: text;
    top: 13px;
    left: 11px;
}






/*menu*/
#menu_wrap {
    width: 100%;
    height: 100%;
    z-index: 1;
    /* background-color: rgb(240, 240, 240); */
    display: none;
}
