/*header*/
#header_wrap {
    width: 100%;
    height: 70px;
    display: none;
}
#header_wrap #header_box {
    display: flex;
    width: 100%;
    max-width: 768px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

#header_wrap #header_box #header_title {
    margin: 0 auto;
    width: 300px;
    font-size: 1.2rem;
    cursor: pointer;
}

#header_wrap #header_box #header_title h1{
    background-color: rgb(180, 180, 180);
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.6);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

#header_wrap #header_box #header_btn a .menu_btn{
    width: 60px;
    margin: auto 0;
}

#header_wrap #header_box #header_btn a .menu_btn .menu_o{
    font-size: 1rem;
    position: relative;
}
#header_wrap #header_box #header_btn a .menu_btn .menu_m{
    font-size: 0.8rem;
    position: relative;
}






/*menu*/