/****front****/
#front_wrap {
    width: 100%;
    height: 100%;
}
#front_wrap #front_box {
    width: 400px;
    height: 600px;
    margin: 0 auto;
    text-align: center;
    font-size: 4rem;
    line-height: 1.2;
    font-weight: bolder;
    padding-top: 7%;
}
#front_wrap #front_box #front_title div {
    -ms-transform: rotate(-30deg); /* IE 9 */
    transform: rotate(-30deg);
    position: relative;
    width: 100px;
    margin: 0 auto;
    cursor: pointer;
}
#front_wrap #front_box #front_title #title_cdd {
    top: 0px;
    left: -35px;
}
#front_wrap #front_box #front_title #title_ddc {
    top: -100px;
}
#front_wrap #front_box #front_title div h1 {
    background-color: rgb(180, 180, 180);
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.6);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}




/****detail****/
#detail_wrap {
    width: 100%;
    height: calc(100vh - 70px);
    position: absolute;
    top: 70px;
    /* background-color: #777; */
    left: 0;
    /* z-index: -5; */
    display: none;
}

#detail_wrap #detail_box {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    /* text-align: center; */
}

#detail_wrap #detail_box #detail_marker{
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 25px;
}

#detail_wrap #detail_box #detail_marker img{
    max-width: 340px;
    height: auto;
}
#detail_wrap #detail_box #detail_title {
    width: 100%;
    max-width: 768px;
    min-height: 100px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 40px;
}

#detail_wrap #detail_box #detail_point {
    width: 100%;
    max-width: 768px;
    min-height: 80px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 40px;
}
#detail_wrap #detail_box #detail_point p.detail_address {
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 10px;
}
#detail_wrap #detail_box #detail_point p.detail_coord {
    font-size: 0.5rem;
    font-weight: 300;
    line-height: 10px;
}

#detail_wrap #detail_box #detail_cont {
    white-space: pre-line;
    word-break: keep-all;
    max-width: 596px;
    height: min-content;
    margin: 0 auto;
    font-size: 1.05rem;
    letter-spacing: 1.8px;
    line-height: 1.9rem;
    color: rgba(0, 0, 0, 0.75);
    padding-bottom: 40px; 
}

#detail_wrap #detail_box #detail_work, 
#detail_wrap #detail_box #detail_ref {
    width: 100%;
    max-width: 768px;
    min-height: 80px;
    margin: 0 auto;
    /* text-align: center; */
    padding-bottom: 20px;
}
#detail_wrap #detail_box #detail_work p.work_title, 
#detail_wrap #detail_box #detail_ref p.ref_title {
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 10px;
}




/****map****/
#map_wrap {
    width: 100%;
    height: calc(100vh - 70px);
    position: absolute;
    top: 70px;
    background-color: #999;
    left: 0;
    z-index: -5;
    /* display: none; */
    visibility: hidden;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
#map .mapboxgl-canvas {
    /* width: 100vw;
    height: calc(100vh - 70px); */
    width: 100%;
    height: 100%;
    left: 0;
}
#map .mapboxgl-ctrl a.mapboxgl-ctrl-logo {
    display: none;
}
#map .mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    display: none;
}