/*front*/
#front_wrap {
    width: 100%;
    height: 100%;
}
#front_wrap #front_box {
    width: 400px;
    height: 600px;
    margin: 0 auto;
    text-align: center;
    font-size: 4rem;
    line-height: 1.2;
    font-weight: bolder;
    padding-top: 7%;
}
#front_wrap #front_box #front_title div {
    -ms-transform: rotate(-30deg); /* IE 9 */
    transform: rotate(-30deg);
    position: relative;
    width: 100px;
    margin: 0 auto;
    cursor: pointer;
}
#front_wrap #front_box #front_title #title_cdd {
    top: 0px;
    left: -35px;
}
#front_wrap #front_box #front_title #title_ddc {
    top: -100px;
}
#front_wrap #front_box #front_title div h1 {
    background-color: rgb(180, 180, 180);
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.6);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}




/*detail*/
#detail_wrap {
    width: 100%;
    height: calc(100vh - 70px);
    position: absolute;
    top: 70px;
    background-color: #777;
    left: 0;
    z-index: -5;
    display: none;
}

/*map*/
#map_wrap {
    width: 100%;
    height: calc(100vh - 70px);
    position: absolute;
    top: 70px;
    background-color: #999;
    left: 0;
    z-index: -5;
    display: none;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
#map .mapboxgl-canvas {
    width: 100%;
    height: 100%;
}