/****front****/

#front_wrap * {
    z-index: 999;
}

#front_wrap {
    width: 100%;
    height: 100%;
    z-index: 999;
}

#front_wrap #front_box {
    width: 100%;
    max-width: 400px;
    height: 600px;
    margin: 10% auto;
    text-align: center;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: bolder;
    /* padding-top: 10%; */
    font-family: "또박또박"
}

#front_wrap #front_box #front_title div {
    /* -ms-transform: rotate(-30deg); IE 9 */
    /* transform: rotate(-30deg); */
    position: relative;
    /* width: 100px; */
    margin: 0 auto;
    cursor: pointer;
}

#front_wrap #front_box #front_title .front_img {
    width: 100%;
}

#front_wrap #front_box #front_title #title_cdd {
    top: 0px;
    left: -35px;
}

#front_wrap #front_box #front_title #title_ddc {
    top: -100px;
}

#front_wrap #front_box #front_title div h1 {
    background-color: rgb(180, 180, 180);
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.6);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

#front_wrap #front_box #lang_select {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    font-size: 1rem;
    max-width: 250px;
    margin: 0 auto;
}


/****detail****/

#detail_wrap * {
    z-index: 80;
}

#detail_wrap {
    width: 100%;
    height: calc(100vh - 70px);
    /* position: absolute; */
    top: 70px;
    background-color: rgb(240, 240, 240);
    /* background-color: #777; */
    left: 0;
    /* z-index: -5; */
    display: none;
    z-index: 80;
}

#detail_wrap #detail_box {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    margin-top: 120px;
    color: #555;
    padding: 15px;
}

#detail_wrap #detail_box #detail_marker {
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 25px;
}

#detail_wrap #detail_box #detail_marker img {
    max-width: 340px;
    height: auto;
}

#detail_wrap #detail_box #detail_title {
    width: 100%;
    max-width: 768px;
    /* min-height: 100px; */
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
}

#detail_wrap #detail_box #detail_title h3 {
    font-size: 2rem;
}

#detail_wrap #detail_box #detail_point {
    width: 100%;
    max-width: 768px;
    min-height: 80px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 40px;
    display: grid;
}

#detail_wrap #detail_box #detail_point .detail_address {
    /* font-size: 0.8rem; */
    font-weight: 600;
    font-family: "또박또박";
    font-size: 1.4rem;
}

#detail_wrap #detail_box #detail_point .detail_coord {
    font-size: 0.8rem;
    font-weight: 300;
    /* line-height: 15px; */
}

#detail_wrap #detail_box #detail_cont {
    white-space: pre-line;
    word-break: keep-all;
    max-width: 596px;
    height: min-content;
    margin: 0 auto;
    font-size: 1.8rem;
    letter-spacing: 1.8px;
    line-height: 1.9rem;
    color: rgba(0, 0, 0, 0.75);
    padding-bottom: 40px;
    font-family: "또박또박";
}

#detail_wrap #detail_box #detail_img,
#detail_wrap #detail_box #detail_work,
#detail_wrap #detail_box #detail_ref {
    width: 100%;
    max-width: 596px;
    min-height: 80px;
    margin: 0 auto;
    padding-bottom: 60px;
}

#detail_wrap #detail_box #detail_img,
#detail_wrap #detail_box #detail_work,
#detail_wrap #detail_box #detail_ref,
#detail_wrap #detail_box #detail_img li.img_list,
#detail_wrap #detail_box #detail_work li.work_list,
#detail_wrap #detail_box #detail_ref li.ref_list {
    font-size: 0.9rem;
    /* font-weight: 600; */
}

#detail_wrap #detail_box #detail_img .img_title,
#detail_wrap #detail_box #detail_work .work_title,
#detail_wrap #detail_box #detail_ref .ref_title {
    font-size: 2rem;
    font-weight: 600;
}

#detail_wrap #detail_box #detail_img ul li img,
#detail_wrap #detail_box #detail_work ul li img,
#detail_wrap #detail_box #detail_ref ul li img {
    width: 100%;
    max-width: 596px;
    margin-top: 15px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

#detail_wrap #detail_box #detail_img ul li .attached_img_tag {
    /* display: grid; */
    font-family: "또박또박";
    font-size: 1.7rem;
}

#detail_wrap #detail_box #detail_img ul li .attached_img_tag .attached_img_title {
    font-weight: 900;
    margin: 0 10px;
}

#detail_func_wrap {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: 100px 100px;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
}

/* #detail_func_wrap #back_btn {
    text-align: right;
    margin-right: 20px;
}
#detail_func_wrap #share_btn {
    text-align: left;
    margin-left: 20px;
} */


#detail_func_wrap .back_btn img,
#detail_func_wrap .share_btn img {
    width: 60px;
    padding: 10px;
    cursor: pointer;
}



/****map****/

#map_wrap {
    width: 100%;
    height: calc(100vh - 70px);
    position: absolute;
    top: 70px;
    background-color: #999;
    left: 0;
    z-index: -5;
    /* display: none; */
    visibility: hidden;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#map .mapboxgl-canvas {
    /* width: 100vw;
    height: calc(100vh - 70px); */
    width: 100%;
    height: 100%;
    left: 0;
}

#map .mapboxgl-ctrl a.mapboxgl-ctrl-logo {
    display: none;
}

#map .mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    display: none;
}


/****footer****/

#footer_wrap {
    /* position: fixed; */
    bottom: 0;
    text-align: center;
    width: 100%;
    font-family: "또박또박";
    padding: 15px;
    margin-top: 40px;
    /* z-index: 999; */
}

@media all and (max-width: 801px) {}

@media all and (max-width: 481px) {}