@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

/****front****/

#front_wrap * {
    z-index: 999;
}

#front_wrap {
    width: 100%;
    height: 100%;
    z-index: 999;
}

#front_wrap #front_box {
    width: 100%;
    max-width: 400px;
    height: 600px;
    margin: 10% auto;
    text-align: center;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: bolder;
    /* padding-top: 10%; */
    /* font-family: "또박또박" */
    font-family: "Yeon Sung"
}

#front_wrap #front_box #front_title div {
    /* -ms-transform: rotate(-30deg); IE 9 */
    /* transform: rotate(-30deg); */
    position: relative;
    /* width: 100px; */
    margin: 0 auto;
    cursor: pointer;
    font-size: 1rem;
}

#front_wrap #front_box #front_title .front_img {
    width: 100%;
}

#front_wrap #front_box #front_title #title_cdd {
    top: 0px;
    left: -35px;
}

#front_wrap #front_box #front_title #title_ddc {
    top: -100px;
}

#front_wrap #front_box #front_title div h1 {
    background-color: rgb(180, 180, 180);
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.6);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

#front_wrap #front_box #lang_select {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    font-size: 1rem;
    max-width: 250px;
    margin: 0 auto;
}


/****detail****/

#detail_wrap * {
    z-index: 80;
}

#detail_wrap {
    width: 100%;
    height: calc(100vh - 70px);
    /* position: absolute; */
    top: 70px;
    background-color: rgb(240, 240, 240);
    /* background-color: #777; */
    left: 0;
    /* z-index: -5; */
    /* display: none; */
    z-index: 80;
}

#detail_wrap #detail_box {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    margin-top: 120px;
    color: #555;
    padding: 15px;
}

#detail_wrap #detail_box #detail_marker {
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 25px;
}

#detail_wrap #detail_box #detail_marker img {
    max-width: 340px;
    height: auto;
    max-height: 340px;
}

#detail_wrap #detail_box #detail_title,
#detail_wrap #detail_box #detail_sub_title {
    width: 100%;
    max-width: 768px;
    /* min-height: 100px; */
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
}

#detail_wrap #detail_box #detail_title h3 {
    font-size: 2.6rem;
    font-weight: 100;
}

#detail_wrap #detail_box #detail_sub_title {
    margin-bottom: 20px;
}

#detail_wrap #detail_box #detail_sub_title h4 {
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
}

#detail_wrap #detail_box #detail_point {
    width: 100%;
    /* max-width: 768px; */
    max-width: 500px;
    min-height: 80px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 40px;
    display: grid;
}

#detail_wrap #detail_box #detail_point .detail_address {
    /* font-size: 0.8rem; */
    /* font-weight: 600; */
    /* font-family: "또박또박"; */
    font-family: "Yeon Sung";
    /* font-size: 1.4rem; */
    font-size: 1rem;
}

#detail_wrap #detail_box #detail_point .detail_coord {
    /* font-size: 1.2rem; */
    font-size: 1rem;
    font-weight: 300;
    /* line-height: 15px; */
}

#detail_wrap #detail_box #detail_memo {
    background-color: rgba(255, 200, 100, 0.05);
    border-radius: 10px;
    padding: 0 25px;
    padding-bottom: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 1.4rem;
    white-space: pre-line;
    word-break: keep-all;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
}

#detail_wrap #detail_box #detail_memo>div {
    white-space: pre-line;
    word-break: break-all;
    text-align: justify;
    /* font-family: "경기천년바탕"; */
    font-family: "Yeon Sung";
    /* font-size: 1rem; */
    font-size: 1.2rem;
    line-height: 1.7rem;
    /* font-weight: 600; */
}

#detail_wrap #detail_box #detail_cont {
    white-space: pre-line;
    word-break: keep-all;
    max-width: 596px;
    height: min-content;
    margin: 0 auto;
    /* font-size: 1.8rem; */
    letter-spacing: 1.8px;
    line-height: 1.9rem;
    color: rgba(0, 0, 0, 0.75);
    /* font-family: "또박또박"; */
    text-indent: 1rem;
    font-size: 1.2rem;
    padding: 0 15px 40px;
}

#detail_wrap #detail_box #detail_img,
#detail_wrap #detail_box #detail_work,
#detail_wrap #detail_box #detail_ref {
    width: 100%;
    max-width: 596px;
    min-height: 80px;
    margin: 0 auto;
    padding-bottom: 60px;
}

#detail_wrap #detail_box #detail_img,
#detail_wrap #detail_box #detail_work,
#detail_wrap #detail_box #detail_ref,
#detail_wrap #detail_box #detail_img li.img_list,
#detail_wrap #detail_box #detail_work li.work_list,
#detail_wrap #detail_box #detail_ref li.ref_list {
    font-size: 0.9rem;
    /* font-weight: 600; */
}

#detail_wrap #detail_box #detail_img .img_title,
#detail_wrap #detail_box #detail_work .work_title,
#detail_wrap #detail_box #detail_ref .ref_title {
    font-size: 2rem;
    /* font-weight: 600; */
}

#detail_wrap #detail_box #detail_img ul li img,
#detail_wrap #detail_box #detail_work ul li img,
#detail_wrap #detail_box #detail_ref ul li img {
    width: 100%;
    max-width: 596px;
    /* margin-top: 15px; */
    /* margin-bottom: 10px; */
    /* border-radius: 5px 5px 0 0; */
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
}

#detail_wrap #detail_box #detail_img ul li .attached_img_tag,
#detail_wrap #detail_box #detail_work ul li .attached_work_tag,
#detail_wrap #detail_box #detail_ref ul li .attached_ref_tag {
    /* display: grid; */
    /* font-family: "또박또박"; */
    font-family: "Yeon Sung";
    /* font-size: 1.7rem; */
    font-size: 1.3rem;
    margin-bottom: 30px;
}

#detail_wrap #detail_box #detail_img ul li .attached_img_tag,
#detail_wrap #detail_box #detail_work ul li .attached_work_tag {
    padding: 10px 25px 25px 25px;
}

#detail_wrap #detail_box #detail_work ul li .attached_work_tag .attached_work_cont img {
    border-radius: 5px;
}

#detail_wrap #detail_box #detail_img ul li,
#detail_wrap #detail_box #detail_work ul li {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px; */
    border-top: 2px solid rgba(200, 0, 20, 0.5);
    border-bottom: 2px solid rgba(200, 0, 20, 0.5);
    position: relative;
    /* padding: 24px; */
    padding: 14px 24px;
    margin: 24px;
}
#detail_wrap #detail_box #detail_img ul li::before,
#detail_wrap #detail_box #detail_work ul li::before,
#detail_wrap #detail_box #detail_img ul li::after,
#detail_wrap #detail_box #detail_work ul li::after {
    content: '';
    background-color: rgba(200, 0, 20, 0.5);
    top: -14px;
    bottom: -14px;
    left: 12px;
    position: absolute;
    width: 2px;
}

#detail_wrap #detail_box #detail_img ul li::after,
#detail_wrap #detail_box #detail_work ul li::after {
    left: auto;
    right: 12px;
}

#detail_wrap #detail_box #detail_work ul li .attached_work_tag,
#detail_wrap #detail_box #detail_ref ul li .attached_ref_tag {
    display: grid;
    margin-top: 20px;
}

#detail_wrap #detail_box #detail_img ul li .attached_img_tag .attached_img_title,
#detail_wrap #detail_box #detail_work ul li .attached_work_tag .attached_work_title,
#detail_wrap #detail_box #detail_ref ul li .attached_ref_tag .attached_ref_title {
    font-weight: 900;
    margin: 0 10px;
}

#detail_func_wrap {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: 100px 100px;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
}


/* #detail_func_wrap #back_btn {
    text-align: right;
    margin-right: 20px;
}
#detail_func_wrap #share_btn {
    text-align: left;
    margin-left: 20px;
} */

#detail_func_wrap .back_btn img,
#detail_func_wrap .share_btn img {
    width: 60px;
    padding: 10px;
    cursor: pointer;
}


/****map****/

#map_wrap {
    /* width: 100%; */
    width: 100vw;
    height: calc(100vh - 70px);
    position: absolute;
    top: 70px;
    background-color: #999;
    left: 0;
    z-index: -5;
    /* display: none; */
    visibility: hidden;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#map .mapboxgl-canvas {
    /* width: 100vw;
    height: calc(100vh - 70px); */
    width: 100%;
    height: 100%;
    left: 0;
}

#map .mapboxgl-ctrl a.mapboxgl-ctrl-logo {
    display: none;
}

#map .mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    display: none;
}

#map .mapboxgl-popup-content {
    background: rgba(255, 255, 255, 0.6);
    /* font-family: "또박또박"; */
    font-family: "Yeon Sung";
}

#map .mapboxgl-popup-content>div {
    padding: 10px;
}

#map .mapboxgl-popup-content h3 {
    /* font-size: 1.8rem; */
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 0.7;
    line-height: 1.7rem;
    color: rgb(160, 30, 50);
}

#map .mapboxgl-popup-content h4 {
    /* font-size: 1.4rem; */
    font-size: 1.2rem;
    padding-top: 5px;
    letter-spacing: 0.1rem;
    font-weight: 100;
    color: rgb(160, 30, 50);
}

#map .mapboxgl-popup-content p {
    font-size: 1.4rem;
    white-space: pre-line;
    text-align: justify;
    padding-top: 10px;
    /* font-family: "경기천년바탕"; */
    font-family: "Yeon Sung";
    font-size: 1rem;
    line-height: 1.3rem;
    opacity: 0.9;
}

#map .mapboxgl-popup-content p.right_p {
    text-align: right;
    /* font-family: "또박또박"; */
    /* font-family: "Yeon Sung";
    font-size: 1.5rem; */
    opacity: 0.6;
    color: rgb(160, 30, 50);
}

#map .mapboxgl-popup-tip {
    border-top-color: rgba(255, 255, 255, 0.6);
}

.marker {
    /* filter: grayscale(1) drop-shadow(0px 0px 0px red) contrast(1.0) brightness(1.2); */
    /* filter: grayscale(1) drop-shadow(0px 0px 0px rgb(255, 30, 0)) contrast(1.1) brightness(1.0); */
    -webkit-filter: grayscale(0.3) opacity(0.8) drop-shadow(0px 0px 0px rgb(255, 30, 0)) contrast(1.1) brightness(1.0);
    -moz-filter: grayscale(0.3) opacity(0.8) drop-shadow(0px 0px 0px rgb(255, 30, 0)) contrast(1.1) brightness(1.0);
    -o-filter: grayscale(0.3) opacity(0.8) drop-shadow(0px 0px 0px rgb(255, 30, 0)) contrast(1.1) brightness(1.0);
    -ms-filter: grayscale(0.3) opacity(0.8) drop-shadow(0px 0px 0px rgb(255, 30, 0)) contrast(1.1) brightness(1.0);
    filter: grayscale(0.3) opacity(0.8) drop-shadow(0px 0px 0px rgb(255, 30, 0)) contrast(1.1) brightness(1.0);
}


/****footer****/

#footer_wrap {
    /* position: fixed; */
    bottom: 0;
    text-align: center;
    width: 100%;
    /* font-family: "또박또박"; */
    font-family: "Yeon Sung";
    padding: 15px;
    margin-top: 40px;
    /* z-index: 999; */
}

@media all and (max-width: 801px) {}

@media all and (max-width: 481px) {}